<div class="container-fluid container-fluid-custom pb-5 mb-5">
      <div class="row">
        <div class="col-3">
          <img src="/img/human-3.svg" alt="Human pointing hand toward a create button">
        </div>
        <div class="col mt-md-4">
          <h2>Okay...</h2>
          <h4>
            Let's start your first note!<br /><br />
            <a href="/dashboard/add">Create one!</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
