<div class="container-fluid container-fluid-custom pb-5 mb-5">

    <div class="row mb-4">
      <div class="col">
        <h1>Hey, <%= userName  %></h1>
      </div>
      <div class="col text-end">
        <a href="/dashboard/add" class="btn btn-primary">New Note!!!</a>
      </div>

      <div class="row">

        </div>

    </div>